.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(218, 238, 253, 1);
}

.flexbox {
    width: 800px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: none;
    text-align: left;
}

th {
    font-weight: bold;
}
