.offer-sent-title {
    font-size: 2em;
    margin-bottom: 2em;
}

.send-invoice, .select-customer {
    cursor: pointer;
    background-color: #29E818;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.delete-offer {
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(218, 238, 253, 1);
}


.flexbox {
    width: 800px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    padding: 8px;
    border: none;
    text-align: left;
}


th {
    font-weight: bold;
}


.button {
    background-color: #29E818;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button:hover {
    background-color: #29E818;
}

.return-button {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(47, 75, 184);
    text-align: center;
}


