.h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.container1 {
    background-color: rgba(218, 238, 253, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.flexbox {
    width: 800px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    justify-content: space-between;

}


table {
    width: 100%;
    border-collapse: collapse;

}



tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;

}


td {
    padding: 8px;
    border-style: solid;
}


form {
    display: inline-block;
}

.button {
    background-color: #203ba5; /* Green */
    border: none;
    color: white;
    padding: 10px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
   margin-bottom: 20px;
}

.button:hover {
    background-color: #0a1c67;
    color: white;
}

