.customer-request-title {
    font-size: 1.8em;
    margin-left: 20vh;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.customer-name {
    color: black;
}

.carport-title {
    font-size: 2em;
    font-weight: 800;
}

.measurement-container, .roof-container {
    height: 50px;
}

.button-container, .measurement-container, .roof-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 100px;
}

.return-button, .save-button, .calculate-button {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.return-button {
    background-color: rgb(47, 75, 184);
}

.save-button {
    background-color: grey;
}

.calculate-button {
    background-color: #6CE34F;
}

#height-title, #length-title, #width-title{
    font-size: 1.8em;
    font-weight: 450;
}

select {
    font-size: 20px;
    margin-left: 1em;
    width: 200px;
    height: 30px;
}

.roof-title {
    font-weight: lighter;
}