<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="common_header(title,links)">
    <title th:replace="${title}">FOG Carport Hjemmeside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/header-style.css" th:href="@{/css/header-style.css}" rel="stylesheet"/>
    <th:block th:replace="${links}" />
</head>

<body>
<div class="main-header">
        <div class="header-left">
            <img src="/public/images/fog-logo.png" th:src="@{../images/fog-logo.png}" alt="Fog Logo">
        </div>

    <div class="header-right">
        <div class="fog-konto">
            <a href="../create-user-page.html" th:href="@{/createuser}">
                <img src="/public/images/fog-konto.PNG" th:src="@{../images/fog-konto.PNG}" alt="Fog Konto">
                <span>Fog Konto</span>
            </a>
        </div>

        <div class="dropdown">
            <div class="dropdown-img">
                <img src="/public/images/menu-icon.PNG" th:src="@{../images/menu-icon.PNG}" alt="Menu Icon">
                <span>Menu</span>
            </div>
            <div class="dropdown-content">
                <a href="#">Konto</a>
                <a href="#">Kontakt</a>
                <a href="#">Log ud</a>
            </div>
            <!--
            <th:block th:if="${#ctx.session.currentUser.role == 'admin'}">
                <div class="dropdown-content">
                    <a href="#">Forside</a>
                    <a href="#">Forespørgsler</a>
                    <a href="#">Afventer Kunde</a>
                    <a href="#">Afsluttede</a>
                </div>
            </th:block>
            -->
        </div>
    </div>
</div>
</body>
</html>