<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Admin startside</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/acceptdenieofferpage.css" th:href="@{/css/acceptdenieofferpage.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-header">

    <div class="header-left">
        <img src="../public/images/Fog_logo.PNG" th:src="@{/images/Fog_logo.png}" alt="Fog Logo">
    </div>

    <div class="header-right">

        <div class="fog-konto">
            <a href="createuser.html" th:href="@{/createuser}">
                <img src="../public/images/Fog_konto_uden_tekst.PNG" th:src="@{/images/Fog_konto.png}" alt="Fog Konto">
                <span>Fog Konto</span>
            </a>
        </div>

        <div class="dropdown">
            <div class="dropdown-img">
                <img src="../public/images/menu-icon_uden_tekst.PNG" alt="Menu Icon">
                <span>Menu</span>
            </div>
            <div class="dropdown-content">
                <a href="#">Konto</a>
                <a href="#">Kontakt</a>
                <a href="#">Log ud</a>
            </div>
        </div>
    </div>
</div>

<div class="body-background">
    <div class="container">

        <div class="flexbox">
            <h2 style="padding-top: 25px">Tak for din bestilling!</h2>
            <h4 style="padding-top: 20px">Vi vil hurtigst muligt behandle din ordre og vende tilbage til dig.</h4>
            <button class="button" style="margin-top: 30px" onclick="window.location.href = 'Startside.html';">
                Gå tilbage til forsiden
            </button>
        </div>

    </div>
</div>
</body>
</html>