<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CreateUser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/create-customer-style.css}" rel="stylesheet"/>
</head>
<body>
<div class="flex-container">
    <div class="page">
        <header class="header">
            <div class="header-content">
                <h2>Oplysninger</h2>
                <img alt="logo" th:src="@{/images/fog-logo.png}"/>
            </div>
        </header>
        <h4>Indtast dine oplysninger her</h4>

        <form class="generic-form" action="/createuser" method="post">
            <div class="flex-row">
                <div class="flex-col">
                    <input type="email" name="email" placeholder="E-mail*"/>
                    <input type="email" name="email2" placeholder="Gentag e-mail*"/>
                </div>
                <div class="flex-col">
                    <input type="password" name="password1" placeholder="Kodeord*"/>
                    <input type="password" name="password2" placeholder="Gentag kodeord*"/>
                </div>
                <div class="flex-col">
                    <input type="text" name="firstName" placeholder="Fornavn*"/>
                    <input type="text" name="lastName" placeholder="Efternavn*"/>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col">
                    <input type="number" name="zip" placeholder="Postnr.*" min="0" max="9999" onchange="this.setCustomValidity('')" required oninvalid="this.setCustomValidity('Skal være imellem 0-9999.')"/>
                </div>
                <div class="flex-col">
                    <input type="text" name="cityName" placeholder="By*"/>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col full-width">
                    <input type="text" name="address" placeholder="Adresse*"/>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col full-width">
                    <input type="number" name="phoneNumber" placeholder="Telefonnr*" min="11111111" max="99999999" onchange="this.setCustomValidity('')" required oninvalid="this.setCustomValidity('Skal være imellem 11111111-99999999.')"/>
                </div>
            </div>

            <div style="font-family: Helvetica, sans-serif; font-weight: bolder"><p th:text="${message}"></p></div>

            <div class="form-group">
                <input type="submit" value="Opret">
            </div>
        </form>
    </div>
</div>
</body>
</html>
