<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/createcustomer.css" rel="stylesheet" />
</head>

<body>
<div class="flex-container">
    <div class="page">
        <header class="header">
            <div class="header-content">
                <h2>Oplysninger</h2>
                <img alt="logo" src="../public/images/Fog_logo.png" />
            </div>
        </header>
        <h4>Indtast dine oplysninger her</h4>

        <form class="generic-form" method="post">
            <div class="flex-row">
                <div class="flex-col">
                    <input type="email" name="email" placeholder="E-mail*" />
                    <input type="email" name="repeatEmail" placeholder="Gentag e-mail*" />
                </div>
                <div class="flex-col">
                    <input type="password" name="password1" placeholder="Kodeord*" />
                    <input type="password" name="password2" placeholder="Gentag kodeord*" />
                </div>
                <div class="flex-col">
                    <input type="text" name="firstName" placeholder="Fornavn*" />
                    <input type="text" name="lastName" placeholder="Efternavn*" />
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col">
                    <input type="text" name="zip" placeholder="Postnr.*" />
                </div>
                <div class="flex-col">
                    <input type="text" name="cityName" placeholder="By*" />
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col full-width">
                    <input type="text" name="address" placeholder="Adresse*" />
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col full-width">
                    <input type="text" name="phoneNumber" placeholder="Telefonnr*" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Opret">
            </div>
        </form>
    </div>
</div>
</body>

</html>
