<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{::link})">
    <title>Admin startside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/customer-own-order-frontpage-style.css"
          th:href="@{/css/customer-own-order-frontpage-style.css}"
          rel="stylesheet"/>
    <link href="../public/css/basic-style.css" th:href="@{/css/basic-style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: div.main-header"></div>
<div class="body-background">
    <div class="container">
        <div class="flexbox">
            <form method="POST">
                <div>
                    <h2>Ordre Historik</h2>
                    <table>
                        <tbody>
                        <tr>
                            <td> Dato</td>
                            <td> Ordrenummer</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr th:each="invoice : ${listOfInvoices}">
                            <td th:text="${invoice.date}"></td>
                            <td th:text="${invoice.invoiceId}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <span th:each="invoice : ${listOfInvoices}">
                <button class="button"
                        onclick="window.location.href = 'customer-own-order-page.html';">
                    Læs mere</button></span>
                <div th:if="${#lists.isEmpty(listOfInvoices)}">
                    <p>Ingen kvittering blev fundet</p>
                    <button class="button" onclick="window.location.href = 'customer-own-order-page.html';">
                        Tilbage til Kunde info
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
