<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kunde-info forside</title>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/customerinfopage.css" th:href="@{/css/customerinfopage.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-header">

    <div class="header-left">
        <img src="../public/images/Fog_logo.PNG" th:src="@{/images/Fog_logo.png}" alt="Fog Logo">
    </div>

    <div class="header-right">

        <div class="fog-konto">
            <a href="accountinfopage.html" th:href="@{/accountinfopage}">
                <img src="../public/images/Fog_konto_uden_tekst.PNG" th:src="@{/images/Fog_konto.png}" alt="Fog Konto">
                <span>Fog Konto</span>
            </a>
        </div>

        <div class="dropdown">
            <div class="dropdown-img">
                <img src="../public/images/menu-icon_uden_tekst.PNG" alt="Menu Icon">
                <span>Menu</span>
            </div>
            <div class="dropdown-content">
                <a href="#">Konto</a>
                <a href="#">Kontakt</a>
                <a href="#">Log ud</a>
            </div>
        </div>
    </div>
</div>
<div class="body-background">
    <div class="container">
        <div class="flexbox">
            <a class="reference-format" href="customerinbox.html" th:href="@{/customerinbox}">
                <div class="top-half">
                    <h2>Indbakke</h2>
                </div>
                <div class="bottom-half">
                    <img class="option-images" src="../public/images/customer-inbox_logo.png" th:src="@{/images/customer-inbox_logo.png}"
                         alt="customer-inbox_logo">
                </div>
            </a>
        </div>
        <div class="flexbox">
            <a class="reference-format" href="customerownrequest.html" th:href="@{/customerownrequest}">
                <div class="top-half">
                    <h2>Forespørgsler</h2>
                </div>
                <div class="bottom-half">
                    <img class="option-images" src="../public/images/customer-request_logo.png"
                         th:src="@{/images/customer-request_logo.png}"
                         alt="customer-request_logo">
                </div>
            </a>
        </div>
        <div class="flexbox">
            <a class="reference-format" href="customerorderhistory.html" th:href="@{/customerorderhistory}">
                <div class="top-half">
                    <h2>Ordre Historik</h2>
                </div>
                <div class="bottom-half">
                    <img class="option-images" src="../public/images/order-history_logo.png"
                         th:src="@{/images/order-history_logo.png}"
                         alt="order-history_logo">
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>