<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{::link})">
    <title>Se Valgte ordre</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/customer-own-order-style.css" th:href="@{/css/customer-own-order-style.css}" rel="stylesheet"/>
    <link href="../public/css/basic-style.css" th:href="@{/css/basic-style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: div.main-header"></div>
<a href="/templates/customer-own-order-page.html" th:href="@{/customerInvoice}">
<div class="body-background">
    <div class="container">
        <div class="flexbox">
            <form th:action="@{/materialInstruction}" method="POST">
                <div>
                     <h2>Værebro</h2>
                    <div> <h1>Carport</h1></div>
                    <div> <h2>Husk at kontrollere materiale listen inden du går i gang.</h2></div>
                    <table>
                        <tbody>
                        <tr>
                            <td>Materiale beskrivelse</td>
                            <td>Længde</td>
                            <td>Antal</td>
                            <td>Enhed</td>
                            <td>Beskrivelse</td>
                        </tr>
                        </tbody>
                        <tr th:each="partlist :${listOfPartlists}">
                            <td th:text="${partlist.material_description}"></td>
                            <td th:text="${partlist.length}"></td>
                            <td th:text="${partlist.amount}"></td>
                            <td th:text="${partlist.unit_nam}"></td>
                            <td th:text="${partlist.instruction_description}"></td>
                        </tr>
                    </table>
                </div>
                <span>
                <button class="button" style="margin-top: 30px" formaction="customer-own-order-frontpage">Tilbage til kunde </button></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>
