<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common_header('Kunde-info forside', '')"></head>

    <meta charset="UTF-8">
    <title>Kunde-info forside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/customer-info-style.css" th:href="@{/css/customer-info-style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: div.main-header"></div>

<div class="body-background">
    <div class="container">
        <div class="flexbox">
            <a class="reference-format" href="customer-inbox-page.html" th:href="@{/customerinbox}">
                <div class="top-half">
                    <h2>Indbakke</h2>
                </div>
                <div class="bottom-half">
                    <img class="option-images" src="../public/images/customer-inbox-logo.png" th:src="@{/images/customer-inbox-logo.png}"
                         alt="customer-inbox_logo">
                </div>
            </a>
        </div>
        <div class="flexbox">
            <a class="reference-format" href="customer-own-request-page.html" th:href="@{/customerownrequest}">
                <div class="top-half">
                    <h2>Forespørgsler</h2>
                </div>
                <div class="bottom-half">
                    <img class="option-images" src="../public/images/customer-request-logo.png"
                         th:src="@{/images/customer-request-logo.png}"
                         alt="customer-request_logo">
                </div>
            </a>
        </div>
        <div class="flexbox">
            <a class="reference-format" href="customer-order-history-page.html" th:href="@{/customerorderhistory}">
                <div class="top-half">
                    <h2>Ordre Historik</h2>
                </div>
                <div class="bottom-half">
                    <img class="option-images" src="../public/images/order-history-logo.png"
                         th:src="@{/images/order-history-logo.png}"
                         alt="order-history_logo">
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>
