<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{::link})">
    <title>Admin startside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/customer-own-order-frontpage-style.css" th:href="@{/css/customer-own-order-frontpage-style.css}" rel="stylesheet"/>
    <link href="../public/css/basic-style.css" th:href="@{/css/basic-style.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header :: div.main-header"></div>
<a href="/templates/customer-own-order-frontpage.html" th:href="@{/orderoverview}">
<div class="body-background">
    <div class="container">
        <div class="flexbox">
            <form th:action="@{/vieworder}" method="POST">
                <div>
                    <h2>Ordre Historik</h2>
                    <table>
                        <tbody>

                        <tr>
                            <td> Dato</td>
                            <td> Ordrenummer</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr th:each="invoice : ${listOfInvoices}">
                            <td th:text="${invoice.invoice_dat}"></td>
                            <td th:text="${invoice.order_id}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <span th:if="${#ctx.session.currentCustomer.customerId == 'customer_id'}">
                <span th:each="invoice : ${listOfInvoices}">
                <button type="submit" class="button" formaction="custoner-own order-page.html">Læs mere</button></span>

                <div th:if="${#lists.isEmpty(listOfInvoices)}">
                    <p>Ingen kvittering blev fundet</p>
                    <button type="submit" class="button" formaction="customer-info-frontpage.html'">Tilbage til Kunde info</button>

                </div>
                </span>
            </form>
        </div>
    </div>


</body>
</html>
