<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Startside</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/your-carport.css" th:href="@{/css/your-carport.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-header">

    <div class="header-left">
        <img src="../public/images/Fog_logo.PNG" th:src="@{/images/Fog_logo.png}" alt="Fog Logo">
    </div>

    <div class="header-right">

        <div class="fog-konto">
                <img src="../public/images/Fog_konto_uden_tekst.PNG" th:src="@{/images/Fog_konto.png}" alt="Fog Konto">
                <span>Fog Konto</span>
        </div>

        <div class="dropdown">
            <div class="dropdown-img">
                <img src="../public/images/menu-icon_uden_tekst.PNG" alt="Menu Icon">
                <span>Menu</span>
            </div>
            <div class="dropdown-content">
                <a href="#">Konto</a>
                <a href="#">Kontakt</a>
                <a href="#">Log ud</a>
            </div>
        </div>
    </div>



</div>

<div class="body-background">
    <div class="body">
        <div class="body-text">
            <h1>Bestil Quick-byg tilbud - carport med fladt tag</h1>
            <p>Tilbud og skitsetegning fremsendes med post hurtigst muligt<br>Ved bestilling medfølger standbygvejledning.</p>

            <p>Udfyld formularen omhyggeligt og klik på "Bestil tilbud".<br>Felter markeret med * SKAL udfyldes!</p>
        </div>

        <div class="spacing-5">

        </div>

        <div class="body-order">
            <h2>Carport med fladt tag</h2>
            <p>Udfyld nedenstående formular og tryk "Bestil tilbud".</p>
            <p>Så vender vi hurtigst muligt tilbage med et tilbud til dig.</p>
            <div class="carport-form">
                <form action="/submit" method="post">
                    <label for="carport-width">Carport bredde*</label>
                    <input type="text" class="measurement" id="carport-width" name="carport-width" required>

                    <label for="carport-length">Carport længde*</label>
                    <input type="text" class="measurement" id="carport-length" name="carport-length" required>

                    <label>Carport tag</label>
                    <p2 class="placeholder-text">Alle carporte kommer med trapezplader i plast</p2>
                    <br>
                    <button type="submit" class="order-offer">Bestil tilbud</button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>
